# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm
.yarn

# OS specifics
.DS_Store
Thumbs.db
.directory

# IDE/editors
.idea/
.vscode/
*.swp
*.swo
*~
uploads/